log_level = "info"
external_kinds = []

[consul]
url = "http://192.168.10.42:8500"

[[services]]
name = "nixconsul"
kind = "traefik_authelia"
port = 8080
address = "127.0.0.1"
#tags = []
#
[[services]]
name = "nixtest"
kind = "closed"
port = 9090
address = "127.0.0.1"

#[[service_kinds]]
#name = "traefik_authelia"
#filename = "./config_traefik_authelia.toml"

[[kinds]]
name = "traefik_authelia"
tags = [
        "traefik.enable=true", 
        "traefik.http.routers.SERVICE_NAME.entrypoints=web,websecure", 
        "traefik.http.middlewares.authelia.forwardauth.address=https://auth.mcth.fr/api/verify?rd=https://auth.mcth.fr", 
        "traefik.http.routers.SERVICE_NAME.middlewares=https-redirect,website", 
        "traefik.http.middlewares.secured.chain.middlewares=https-redirect,authelia", 
        "traefik.http.middlewares.https-redirect.redirectscheme.scheme=https", 
        "traefik.http.middlewares.https-redirect.redirectscheme.permanent=true", 
        "traefik.http.routers.SERVICE_NAME.tls=true", 
        "traefik.http.routers.SERVICE_NAME.tls.certresolver=default", 
        "traefik.http.routers.SERVICE_NAME.tls.domains[0].main=mcth.fr", 
        "traefik.http.routers.SERVICE_NAME.tls.domains[0].sans=*.mcth.fr", 
        "traefik.http.middlewares.website.headers.customrequestheaders.Host=website.garage.mcth.fr" 
]


#[[services]]
#name = "forgejo"
#kind = "traefik_authelia"
#port = 3000
#address = "192.168.10.8"
#tags = ["traefik.http.routers.forgejo.rule=Host(`forgejo.mcth.fr`)"]

#[[services]]
#name = "nixtest2"
#kind = "closed"
#port = 9091
#address = "127.0.0.1"
