log_level = "info"

[consul]
url = "http://192.168.10.42:8500"

[[services]]
name = "nixconsul"
kind = "traefik_authelia"
port = 8080
address = "127.0.0.1"
#tags = []
#
[[services]]
name = "nixtest"
kind = "closed"
port = 9090
address = "127.0.0.1"

#[[services]]
#name = "forgejo"
#kind = "traefik_authelia"
#port = 3000
#address = "192.168.10.8"
#tags = ["traefik.http.routers.forgejo.rule=Host(`forgejo.mcth.fr`)"]

#[[services]]
#name = "nixtest2"
#kind = "closed"
#port = 9091
#address = "127.0.0.1"
